# Data Sceience Tools and Ecosystem

In this notebook, Data Science Tools adn Ecoysytems are summarized.

**Objectives:**
- List popular languages in Data Science
- List languages languages in Data Science
- List popular tools in Data Science in a table
- Multiply 3 by 4 then plus 5
- Calculate 200 divided by 60

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientist include:
1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools |
:---------:
| Hadoop |
| Spark |
| KNIME |

### Below are examples of evaluating arithmetic expressions in Python

This a simple arithmetic expressiopnn to multiply then add integers

In [2]:
(3*4) + 5

17

This will convert 200 minutes to hours by dividing by 60

In [4]:
200/60

3.3333333333333335

## Author
**Jamar Forde**